@page
@model SPOS.Pages.CheckInOutModel
@{
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/css/checkInOut.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/keypad.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/modal.css")" rel="stylesheet" type="text/css" />
}

<script src="~/js/keypad.js"></script>
<script src="~/js/CheckInOut.js"></script>

<section class="leftArea">
    <div class="titles">Checked-in</div>
    <div class="usersArea">
        @Html.Raw(Model.checkInUsersContext)
    </div>
</section>

<section class="rightArea">
    <div class="titles">Checked-Out</div>
    <div class="usersArea">
        @Html.Raw(Model.checkOutUsersContext)
    </div>

    <div id="myModal" class="modal">
        <!--Modal content-->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="area">
                <form method="post">
                    <input id="userId" asp-for="UserId" hidden />
                    <input id="check_in_value" asp-for="Check_In_Value" hidden />
                    <div class="keypad">
                        <input class="text" id="code" asp-for="Code">
                        <br />
                        <button class="keypad_button" type="button" , value="1" onclick="addToCode('1')">1</button>
                        <button class="keypad_button" type="button" , value="2" onclick="addToCode('2')">2</button>
                        <button class="keypad_button" type="button" , value="3" onclick="addToCode('3')">3</button>
                        <br />
                        <button class="keypad_button" type="button" , value="4" onclick="addToCode('4')">4</button>
                        <button class="keypad_button" type="button" , value="5" onclick="addToCode('5')">5</button>
                        <button class="keypad_button" type="button" , value="6" onclick="addToCode('6')">6</button>
                        <br />
                        <button class="keypad_button" type="button" , value="7" onclick="addToCode('7')">7</button>
                        <button class="keypad_button" type="button" , value="8" onclick="addToCode('8')">8</button>
                        <button class="keypad_button" type="button" , value="9" onclick="addToCode('9')">9</button>
                        <br />
                        <button class="keypad_button" type="button" , value="Clear" onclick="clearCode()">Clear</button>
                        <button class="keypad_button" type="button" , value="0" onclick="addToCode('0')">0</button>
                        <button class="keypad_button" type="submit" , value="Enter">Enter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button class="backBtn" onclick="location.replace('/');">Back</button>
</section>


