@page
@model SPOS.Pages.MainPageModel
@{
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/css/mainPage.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/modal.css")" rel="stylesheet" type="text/css" />
}

<script src="~/js/ReceiptContents.js"></script>
<script src="~/js/mainPage.js"></script>
<section class="receipt_area">
    <div class="inside_receipt_area">
        <div class="receipt">
            <table id="receipt_table">
                <tr style="border-bottom: 2px solid black;background-color:lightblue">
                    <td style="width:10%;" class="id">ID</td>
                    <td style="width:60%;" class="description">Description</td>
                    <td style="width:15%;" class="cost">Cost</td>
                    <td style="width:15%;" class="qty">Qty</td>
                </tr>
            </table>
        </div>
        <div class="payment">
            <button class="paymentBtn" onclick="location.replace('/Payment');" style="font-size:small">Proceed to Payment</button>
            <b class="total_price"> Total Price: <b id="total_price">€0.00</b></b>
            <button class="removeBtn" id="removeBtn" style="font-size:medium" onclick="openModal()">Remove</button>
            <button class="modifyBtn" id="modifyBtn" onclick="location.replace('/ModifyExistingOrders');">Modify Existing Orders</button>
            <button class="undoBtn" id="undoBtn" onclick="undo()">Undo</button>
            <div class="modifyingOrderDiv" id="modifyingOrderDiv" style="font-size:x-large">Currently Modifying Order</div>
            <div id="name" style=" position: fixed; left: 0; bottom: 5px;">@Model.userName</div>
        </div>
    </div>
</section>

<section class="selection">
    <div class="selectionArea">

        @if (Model.CategorySelection == null)
        {
            <form asp-page-handler="button" method="post">
                <input id="CategorySelection" asp-for="CategorySelection" hidden />
                @Html.Raw(Model.HtmlContext)
            </form>
            <button class="backBtn" onclick="location.replace('/');">Exit</button>          
        }
        else
        {
            @Html.Raw(Model.HtmlContext)
            <button class="backBtn" onclick="location.replace('/MainPage');">Back</button>
            
        }
    </div>

    <!--MODAL FOR SELECTING NUMBER OF ITEMS TO REMOVE FROM RECEIPT- Shows on 'RemoveBtn'-->
    <div id="myModal" class="modal">
        <!--Modal content-->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div>
                <input type="number" id="numberToDelete" style="font-size:42px;" min="1">
                <br />
                <button style="font-size:24px;" onclick="deleteSelectedFromReceipt()">Remove</button>
            </div>
        </div>
    </div>

</section>
