@page
@model SPOS.Pages.PaymentModel
@{
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/css/mainPage.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/keypad.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/modal.css")" rel="stylesheet" type="text/css" />
}

<script src="~/js/keypad.js"></script>
<script src="~/js/ReceiptContents.js"></script>
<script src="~/js/mainPage.js"></script>
@using Microsoft.AspNetCore.Http;

<section class="receipt_area">
    <div class="inside_receipt_area">

        <div class="receipt" style="height:100%;padding:5%;">
            <div class="center">*Company Name*</div>
            <br />
            Location: COFFEE PLACE
            <br />
            Cashier: @HttpContext.Session.GetString("userName")
            <br />
            Order#:
            <br />
            <div class="date">Date & Time: @DateTime.Now</div>
            <br /><br />
            <table id="receipt_table">
                <tr style="border-bottom: 2px solid black;">
                    <td style="width:10%;" class="id">ID</td>
                    <td style="width:60%;" class="description">Description</td>
                    <td style="width:15%;" class="cost">Cost</td>
                    <td style="width:15%;" class="qty">Qty</td>
                </tr>
            </table>
            <br /><br />
            <b>TOTAL EUR:</b>
            <b style="float:right;" id="total_price"></b>
            <br /><br />
            <b>AMOUNT RECEIVED:</b>
            <b style="float:right;" id="amount_received"></b>
            <br /><br />
            <b>CHANGE:</b>
            <b style="float:right;" id="change_to_give"></b>
            <br /><br />
            <b>PAYMENT METHOD:</b><b style="float:right;" id="total_price">CASH</b>
            <hr />
            <br />
            <div class="center">
                ALL CHARGES ARE INCLUDED IN PRICE<br /><br />
                Wifi Key: 12345<br /><br />

                THANK YOU FOR YOUR PURCHASE!<br />
                COME AGAIN SOON!<br /><br />

                ***Purchase Closed***
            </div>
        </div>
    </div>
</section>

<section class="selection">
    <div class="selectionArea">
        <div style="font-size:24px;">Apply Discount:</div><br />
        <button onclick="applyDiscount('15')">15%</button>
        <button onclick="applyDiscount('30')">30%</button>
        <button onclick="applyDiscount('50')">50%</button>
        <button onclick="applyDiscount('70')">70%</button>
        <button onclick="applyDiscount('100')">Complementary</button>
        <button onclick="removeDiscount()">Remove Discount</button>
        <hr />
        <div style="font-size:24px;">Select Payment Method:</div>     
        <br />
        <button onclick="openModalForCash()">CASH</button>
        <button onclick="selectPaymentMethod('VISA')" type="submit">VISA</button>
        <button onclick="selectPaymentMethod('MASTER')" type="submit">MASTER</button>
        <button onclick="selectPaymentMethod('AMEX')" type="submit">AMEX</button>
        <form asp-page-handler="button" method="post">
            <input class="text" id="ReceiptContents" asp-for="ReceiptContents" hidden />
            <input class="text" id="PaymentMethod" asp-for="PaymentMethod" hidden />
            <input type="checkbox" id="ModifyOrder" asp-for="ModifyOrder" hidden />
            <input type="text" id="SelectedOrder" asp-for="SelectedOrder" hidden />
            <div id="myModal" class="modal">
                <!--Modal content-->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="area">
                        <div class="keypad">
                            <input class="text" id="code" asp-for="CashReceived">
                            <input class="text" id="discount" asp-for="DiscountApplied" hidden>
                            <input class="text" id="Total" asp-for="Total" hidden />
                            <input class="text" id="ReceiptContents" asp-for="ReceiptContents" hidden />
                            <br />
                            <button class="keypad_button" type="button" , value="1" onclick="addToCode('1')">1</button>
                            <button class="keypad_button" type="button" , value="2" onclick="addToCode('2')">2</button>
                            <button class="keypad_button" type="button" , value="3" onclick="addToCode('3')">3</button>
                            <br />
                            <button class="keypad_button" type="button" , value="4" onclick="addToCode('4')">4</button>
                            <button class="keypad_button" type="button" , value="5" onclick="addToCode('5')">5</button>
                            <button class="keypad_button" type="button" , value="6" onclick="addToCode('6')">6</button>
                            <br />
                            <button class="keypad_button" type="button" , value="7" onclick="addToCode('7')">7</button>
                            <button class="keypad_button" type="button" , value="8" onclick="addToCode('8')">8</button>
                            <button class="keypad_button" type="button" , value="9" onclick="addToCode('9')">9</button>
                            <br />
                            <button class="keypad_button" type="button" , value="Clear" onclick="clearCode()">Clear</button>
                            <button class="keypad_button" type="button" , value="0" onclick="addToCode('0')">0</button>
                            <button class="keypad_button" type="button" , value="0" onclick="addToCode('.')">.</button>
                            <br />
                            <button style="align-content:center;" type="submit" , value="Enter">Enter</button>
                        </div>
                    </div>
                </div>
            </div>
            <button style="display:none;" type="submit" id="submit"></button>
        </form>
    </div>

    <button class="backBtn" onclick="location.replace('/MainPage');">Back</button>

</section>

